<div class="card-show" data-id="<%= card.id %>">
  <h3><%= card.escape('title') %></h3><br>

  <p><%= card.escape('description') %></p>

  <button class="btn btn-delete card-delete">Delete me!</button><br>
</div>
