<div class='confirm overlay'></div>
<div id='modal-delete' class='confirm board confirm-delete'>
  <button class='btn btn-lg btn-remove btn-danger confirm-delete' type='submit'>Are You Sure You Want To Delete?</button>
</div>
