<h1><%= board.escape('title') %></h1>


<form class="create-list" action="#">
  <label for="list-title">Create a New List</label><br>
  <textarea name="title">Add a list...</textarea>
  <button type="submit" class="btn btn-add-list btn-lg" name="button">Add List</button>
</form><br>

<ul class="board-show">
  <p class="payne">
    T-Payne was here
  </p>
</ul>


<ul class='members'>

  <form class='add-board-members' action="#">
    <input type='text' name='email'>
    <button type='submit' class='btn btn-lg btn-primary'>Add Member!
    </button>
  </form>

</ul>

<button type="button" id='modal-delete' class="btn btn-danger delete-board">Delete Board</button>
