<h1><%= board.escape('title') %></h1>


<form class="create-list" action="#">
  <label for="list-title">Create a New List</label><br>
  <textarea name="title">Add a list...</textarea>
  <button type="submit" class="btn btn-add-list btn-lg" name="button">Add List</button>
</form><br>

<ul class="board-show">
  <p class="payne">
    T-Payne was here
  </p>
</ul>

<button type="button" class="btn btn-danger btn-remove">Delete Board</button>
