<h2><%= board.escape('title') %></h2>


<form class="" action="#">
  <label for="list-title">Create a New List</label>
  <input type="text" name="title" value="Got something you can't forget about?">
  <button type="submit" class="btn btn-add-list btn-lg" name="button"></button>
</form>

<ul class="board-show">
  <p class="payne">
    T-Payne was here
  </p>
</ul>

<button type="button" class="btn btn-danger btn-remove">Delete Board</button>
