
body {
  background-image: url('sanfrancisco.jpg');
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  text-align: center;
  font-weight: 800;
  color: aliceblue;
}

h2 {
  text-align: center;
}

a {
  color: aliceblue;
  font-weight: 64px;

}

.board-index a {
  font-size: 24px;
}

.board-show button {
}


.board-show ul {
  background: #d6dadc;
}

ul .list-item {
  opacity: 0.8;
  background: #d6dadc;
  border-radius: 3%;
  margin-left: 10px;
  margin-right: 10px;
  border-style: solid;
}

ul .list-show {
  border-radius: 6%;
  padding-bottom: 20px;
  margin-right: 15px;
  margin-left: 15px;
}

.list-item div {
  text-align: center;
  padding: 10px;
  top: 10px;
  left: -15px;
  bottom: 10px;
  height: 50%;
}

form.create-list {
  margin-left: 100px;
  display: block;
}

.list-show div {
  clear: both;
  position: initial;
  margin-right: 10px;
  border-style: ridge;
  border-width: thin;
  text-align: center;
}

div.card-show {
  border: none;
}


.card-show button {
  display: none;
}

.list-item button.card-add {
  margin-left: 38px;
  margin-bottom: 10px;
}

.list-item button.btn-delete {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 60px;
}

.card-show:hover button.btn-delete {
  display: block;
  opacity: 1;
  margin-left: 7px;
  background-color: 'red';
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eee;
  opacity: 0.4;
  filter: alpha(opacity=50);
}

.confirm-delete {
  position: absolute;
  margin-bottom: 200px;
  background:url(tint20.png) 0 0 repeat;
  background:rgba(0,0,0,0.2);
  border-radius:14px;
  padding:8px;
}

.confirm-delete button {
  background-color: red;
}

.confirm {
  z-index: 1;
}
